<center><img src="http://www.stoppress.co.nz/images/uploads/2009/11/NZ_Post.jpg" alt="" /></center>
<p id="notice"><%= notice %></p>

<p>
  <center><strong>Ad</strong></center>
  <center><%= @post.name %></center>
</p>

<p>
  <center><strong>Başlık</strong></center>
  <center><%= @post.title %></center>
</p>

<p>
  
  <center><strong>İçerik</strong></center>
  <center><%= @post.content %></center>
</p>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <p>
    <center><strong>Yazan:</strong></center>
    <center><%= comment.commenter %></center>
  </p>
 
  <p>
     <center><strong>Yorum:</strong> </center>
     <center><%= comment.body %></center>
  </p>
<% end %>

<h3>Add a comment:</h3>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<center><%= link_to 'Düzenle', edit_post_path(@post) %> |
<%= link_to 'Geri', posts_path %> | <%= link_to 'Ana Sayfa', root_path %></center>
